<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${appName}">Finwing</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
     <script th:src="@{/js/script.js}"></script>
</head>
<body>
     <header class="header">
        <div th:fragment="header" class="header-inner">
            <div class="logo">
                <div class="logo-icon">₹</div>
                <div>
                    <div class="logo-name">Finwing</div>
                    <div class="logo-sub">FINANCE MANAGER</div>
                </div>
            </div>
            <nav class="nav">
                <button class="tab-btn active" data-tab="dashboard">Home</button>
                <button class="tab-btn" data-tab="transactions"><a href="/transaction">transaction</a></button>
                <button class="tab-btn">
                <a href="/login" style="text-decoration: none; color: inherit;">Login</a>
                 </button>
               <button class="tab-btn" data-tab="transactions"  onclick="window.location.href='/register'">Sign up</button>
                
                  
                 <button class="tab-btn" onclick="toggleTheme()">Theme</button>

   
            </nav>
            <div class="status-dot">
                <div class="dot"></div>
                <span id="monthLabel">March 2026</span>
            </div>
        </div>
    </header>
    
</body>
</html>