<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${appName}">Finwing</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
     <script th:src="@{/js/script.js}"></script>
</head>
<body>
    <!-- user is not login -->
     <header class="header" th:if="${session.user == null}">
        <div th:fragment="header" class="header-inner">
            <div class="logo">
                <div class="logo-icon">₹</div>
                <div>
                    <div class="logo-name">Finwing</div>
                    <div class="logo-sub">FINANCE MANAGER</div>
                </div>
            </div>
            <nav class="nav">
                <button class="tab-btn active" data-tab="dashboard"  onclick="window.location.href='/'">Home</button>
                <button class="tab-btn" data-tab="transactions"  onclick="window.location.href='/transaction'">transaction</button>
                <button class="tab-btn"  onclick="window.location.href='/login'">login</button>
               <button class="tab-btn" data-tab="transactions"  onclick="window.location.href='/registration'">Sign up</button>
                
                  
                 <!-- <button class="tab-btn" onclick="toggleTheme()">Theme</button> -->

   
            </nav>
            <div class="status-dot">
                <div class="dot"></div>
                <span id="monthLabel">March 2026</span>
            </div>
        </div>
    </header>


    <!-- user is login  -->
    <header class="header" th:if="${session.user != null}">
        <div th:fragment="header" class="header-inner">
            <div class="logo">
                <div class="logo-icon">₹</div>
                <div>
                    <div class="logo-name">Finwing</div>
                    <div class="logo-sub">FINANCE MANAGER</div>
                </div>
            </div>
            <nav class="nav">
                <button class="tab-btn active" data-tab="dashboard"  onclick="window.location.href='/'">Home</button>
                <button class="tab-btn" data-tab="transactions"  onclick="window.location.href='/transaction'">transaction</button>
                <button class="tab-btn"  onclick="window.location.href='/login'">login</button>
               <button class="tab-btn" data-tab="transactions"  onclick="window.location.href='/registration'">Sign up</button>
                
                  
                 <!-- <button class="tab-btn" onclick="toggleTheme()">Theme</button> -->

   
            </nav>
            <div class="status-dot">
                <div class="dot"></div>
                <span id="monthLabel">March 2026</span>
            </div>
        </div>
    </header>
    
</body>
</html>